:root{
    --greenborder-color : #80c5b2;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(/Frontpage/image/skynight.jpg);
    background-repeat: repeat ;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
}
#mountainlayer{
    width: 100%;
}
#mountain{
    width: 100%;
    margin: none;
    height: 86.6vh;
}
body::-webkit-scrollbar {
    display: none;
}
.fullscreen{
    height: 20.3vh;
}

.page{
    background-image:linear-gradient(black  40%,#252525);
    height: 240vh;
    padding-top: 10em ;
}
.timetables{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
}
.lecture{
    display: flex;
    justify-content: left;
    margin: 2em 1em;
    padding: 0  0;
    justify-content: center;
    border-left: var(--greenborder-color) solid 3px;
}
.lecture_name{
    text-align: center;
    text-decoration: none;
    margin: 0 0;
    font-size: 30px;
    opacity: 1;
    color: white;
    transition: 0.1s;
    height: 40px;
    font-family: "Rubik" , sans-serif;
    padding: 0 15%;
    animation: appear 2s ease-in-out;
}
.tasks{
    display: flex;
}
.task-decor{
        width: 4%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        padding: 1em 0em;
        padding-left: 1em;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        color: gray;
}
.task-blocks{
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    color: rgb(0, 109, 156);
    box-sizing: border-box;
    padding: 1em 1em;
}
.task-block{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 0 0 ;
        
}
.task-text{
    height: 100px;
    width: 75%;
    font-size: 50px;
    opacity: 1;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;

}    
.task-date{
    width: 20%;
    align-items: center;
    justify-content: center;
    border-right: 2px dotted rgb(229, 246, 255);
}

.task-text-block{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150px;
    width: 75%;
    background-color: transparent;  
}    

.task-list{
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-bottom: dotted 2px rgba(96, 96, 96, 0.548);
}


.lecture:hover{
    cursor: default;
    border-left: #00ffb7 solid 10px;
}
nav{
    margin: 0 0;
    padding: 86px 0;
    display: flex;
    width: 100%;
    background-image: linear-gradient(to bottom, black ,var(--background-color));  
}
nav >.nav-selection {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
}

#nav-entertainment-selection{
    flex-basis: calc(100%/2.728);
}
#nav-study-selection{
    flex-basis: calc(100%/1.8);
}
.nav_icon{
    width: 70px;
    opacity: 0.7;
    transition: 0.3s;
}
#nav-icon-selection{
    flex-grow: 1;
}
.btn {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.2s;
}

#endrow{
margin-top: 70px;}

.decoration{
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right,transparent,white);
    background-size: 40%;
    background-position: left;
    transition: 1s;
    background-repeat: no-repeat;
}
#endrow:hover div:nth-child(1){
    background-position: right;
}

.decoration{
    height: 2px;
    width: 100vh;
    opacity: 0;
    background-image: linear-gradient(to right,transparent,white 40%);
    background-size: 10%;
    background-position: left;
    transition: 10s;
    background-repeat: no-repeat;
    animation-delay: 3s;
}
#mountain:hover div{
    background-position: right;
    opacity: 1;
    transform: translateY(300px);
    transform: translateX(100px);
    transform: rotate(30deg);
}

.star{
    position: relative;
    width: 300%;
}
#star1{
    left: -50%;
    top: 10%;}
#star2{
    left: -100%;
    top: 30%;}
#star3{
    left: -70%;
    top: 50%;}
#star4{
    left: -70%;
    top: 20%;}
#star5{
    left: -60%;
    top: 40%;}
#star6{
    left: -80%;
    top: 60%;}

